# Core Data Handling
pandas
numpy
sidetable

# EDA & Visualization
matplotlib
seaborn
plotly

# Machine learning libraries
scikit-learn
lightgbm # Or 
xgboost
imbalanced-learn # For handling class imbalance (e.g., SMOTE)

# Model Interpretability
shap
lime
# Dev Tools
ipykernel
jupyter
python-dotenv

tqdm
mlflow
cloudpickle

# Development and testing tools (optional, but good practice)
pytest # For unit and integration testing
flake8 # For code linting
black # For code formatting
dvc # For Data Version Control
